parameters:

    # checkUnusedViews: true

    paths:
        - src

    # Level 9 is the highest level
    level: 8

    ignoreErrors:
        - identifier: trait.unused
        - identifier: missingType.iterableValue
        - identifier: new.static
    excludePaths:
